*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.display{
  background-color: rgb(49, 48, 48);
  color: white;
  width: 350px;
  height: 115px;
  font-size: 2.5rem;
  padding: 25px 10px;
  text-align: right;
  overflow-y: scroll;
}

.display::-webkit-scrollbar{
  display: none;
}
.btn-structure{
  width: 350px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.btn{
  font-size: 2.2rem;
  padding: 15px 10px;
  text-align: center;
  outline: none;
  border: 1px solid grey;
}
.zero{
  grid-column: 1/3;
}
.operations{
  background-color: #ff8732;
  color: white;

}
.Nav{
  text-align: center;
  background-color: cornflowerblue;
  font-size: 1.4rem;
}
.Nav h1{
  padding-bottom: 5px;
}
